@using ToDoList.Models;

<h1>To Do List</h1>
<h2>Item: @Model["selectedItem"].GetDescription()</h2>
<hr />

@if (@Model["itemCategories"].Count != 0)
{
  <h4>This item has these categories:</h4>
  <ul>
    @foreach (Category category in @Model["itemCategories"])
    {
      <li>@category.GetName()</li>
    }
  </ul>
}

<h4>Add a category to this item:</h4>

<form action='/items/@Model["selectedItem"].GetId()/categories/new' method='post'>
  <label for='categoryId'>Select a category</label>
  <select id='categoryId' name='categoryId' type='text'>
    @foreach (var category in @Model["allCategories"])
    {
      <option value='@category.GetId()'>@category.GetName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/">Return to Main Page</a></p>
